name: Release Build

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    name: Build and Upload Artifacts
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5.0.1
        with:
          persist-credentials: false

      - name: Checkout repository
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 #v2.8.1

      - name: Run build
        run: make build

      - name: Upload release artifacts
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe #v2.4.2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Append Rust version to release notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ github.event.release.tag_name }}
        run: |
          RUST_VERSION=$(grep -oP '^FROM rust:\K[^@]+' Dockerfile)

          RELEASE_NOTES=$(gh release view ${TAG_NAME} --json body --jq '.body')

          echo -e "${RELEASE_NOTES}\n\n*Binary in the release is compiled with Rust ${RUST_VERSION}*" > release-notes.md

          gh release edit ${TAG_NAME} --notes-file release-notes.md
